body{
    font-family: 'Courier New', Courier, monospace;
}

.map {
    width: 250px;
    border: thick solid #000;
    box-shadow: 5px 5px 4px rgba(30, 30, 30, 0.5);
    font-size: 8pt;
    float: right;
}

.map img {
    width: 100%;
}

.clear {
    clear:both
}