body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.schedule {
    border: 3px solid #000;
    box-shadow: 3px 3px 3px rgba(30, 30, 30, 0.5);
    caption-side: bottom;
    border-radius: 3px;
    border-spacing: 2px;
}

.schedule th, .schedule td{
    border: thin solid #000;
    background-color: bisque;
}