body {
    font-family: 'Courier New', Courier, monospace;
}

.parent {
    background-color:beige;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.child {
    background-color: cadetblue;
}

header {
    grid-area: header;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: "header header header"
                         "lside center rside"
                         "footer footer footer ";
}

nav {
    grid-area: header;
}

#lside {
    grid-area: lside;
    background-color: chocolate;
}

#rside {
    grid-area: rside;
    background-color: chocolate;
}

footer {
    grid-area: footer;
}

main {
    grid-area: center;
}