body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a2e;
    color: white;
    text-align: center;
}

header {
    background: #16213e;
    font-size: 24px;
    padding: 20px;
}

nav {
    background-color: #0d1b2a;
    display: flex;
    justify-content: center;
    padding: 10px;
}
nav a {
    color: #ffcc00;
    margin: 0px 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #e74c3c;
}

main.container {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
}

.card-dark {
    background: #1b1b3a;
    color: wheat;
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgba (255, 255, 255, 0.1);
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.card-dark img {
    border-radius: 10px;
    margin-right: 20px;
    height: auto;
    width: 180px;
}

.card-text {
    flex: 1;
    text-align: left;
    margin-left: 20px;
}

footer {
    background: #16213e;
    padding: 10px;
    font-size: 14px;
    text-align: left;
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        font-size: 18PX;
        margin: 8px 0;
    }

    .card-dark {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .card-dark img {
        margin-right: 15px;
        margin-bottom: 0;
    }

    .card-text {
        text-align: center;
        margin-left: 0;
    }
}